body {
  background-color: black;
}

* {
  color: white;
}

.welcome-title * {
  color: rgb(237, 217, 214);
  text-align: center;
  font-size: clamp(5pt, 4vw, 20pt);
  width:100%;
}

.latest-version {
  color: rgb(182, 169, 255);
  text-align: center;
  font-weight: bolder;
  font-size: x-large;
}

.supported-games-table {
  text-align: center;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.game-name {
  color: rgb(85, 208, 167) !important;
}

.exec-name {
  color: rgb(120, 120, 205) !important;
}

.release-text {
  color: aquamarine;
}

.logo-container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 67%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blink_me {
  text-align: center;
  font-weight: bolder;
  color: brown;
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.2;
  }
}