@import url('./assets/freakflags.css');

.image_logo_png {
  content: url("./assets/logo.png");
}

.image_swon_png {
  content: url("./assets/swon.png");
}

.image_swoff_png {
  content: url("./assets/swoff.png");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hidden {
  visibility: hidden;
}

.side-panel-param-label {
  font-weight: bolder;
  text-decoration: underline;
  background-color: grey;
}

.side-panel-param-value {
  font-weight: bold;
  text-decoration: underline;
  background-color: lightblue;
}

.side-panel-paramcontainer {
  background-color: black;
}

.side-panel-paramcontainer table tr td  {
  border-width: 1pt;
  border-color: darkgreen;
  border-style: dashed;
}

.username-entry-ingame {
  background-color: cadetblue;
}
.username-entry-ingame:hover {
  background-color: lightcyan;
}

.apply-path-button {
  animation-name: backgroundColorPalette;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes backgroundColorPalette {
  0% {
    background: #34831c;
  }
  100% {
    background: #aaf683;
  }
}

.new-event {
  animation-name: newEventBlink;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

@keyframes newEventBlink {
  0% {
    background: #34831c;
  }
  50% {
    background: #aaf683;
  }
  100% {
    background: #ffffff00;
  }
}

#emoji-picker {
  position: fixed;
  right: 150pt;
  bottom: 60px;
}

.user.user-button .dropdown-toggle::after {
  content: none /* removing downarrow beside username dropdown button in Users list */
}

img.message-image {
  max-width: 400pt;
  max-height: 400pt;
  cursor: zoom-out;
}

img.message-image-minified {
  max-width: 30pt;
  max-height: 30pt;
  cursor: zoom-in;
}

img.user-flag-img {
  max-width: 18pt;
  max-height: 15pt;
}

table.game-rooms-table {
  background-color:lightblue
}

table.game-rooms-table tbody tr:hover {
  background-color: #34831c;
}

table.game-rooms-table tbody tr:active {
  background-color: #285719;
}

@keyframes refreshingRooms {
  0% {
    background-color: #1532d6;
  }
  100% {
    background-color: #8f97df;
  }
}

.refreshing-rooms {
  animation-name: refreshingRooms;
  animation-duration: 0.25s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.game-started-animation {
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.game-started-animation.frame1 {background-image: url("./assets/launchgame/1.png")}
.game-started-animation.frame2 {background-image: url("./assets/launchgame/2.png")}
.game-started-animation.frame3 {background-image: url("./assets/launchgame/3.png")}
.game-started-animation.frame4 {background-image: url("./assets/launchgame/4.png")}
